<p *ngIf="errorMessage.length!=0" class="text-danger">{{errorMessage}}</p>
<div class="container" *ngIf="(userLoginOn && !editMode) || !userLoginOn">
    <p><b> Nombre: </b> {{user?.firstname}} </p>
    <p><b> Apellido: </b> {{user?.lastname}}</p>
    <p><b> Pais: </b> {{user?.country}}</p>
    <p><b> Telefono: </b>{{user?.mobile}} </p>
    <p><b> Ciudad actual: </b> {{user?.currentCity}}</p>
    <p><b> Correo: </b> {{user?.email}}</p>
    <p><b> Genero: </b> {{user?.gender}}</p>
    <div class="editar">
        <button *ngIf="userLoginOn && !editMode" (click)="editMode=true" class="btn btn-dark">
            <p>Editar</p>
        </button>
    </div>
</div>

<form *ngIf="userLoginOn && editMode" [formGroup]="registerForm" style="height: 300px;">
    <div class="form-group row">
        <label for="inputFirstName" class="col-sm-5 col-form-label">Nombre</label>
        <div class="col-sm-6">
            <input type="text" formControlName="firstname" class="form-control" id="inputFirstName">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputLasttName" class="col-sm-5 col-form-label">Apellido</label>
        <div class="col-sm-6">
            <input type="text" formControlName="lastname" class="form-control" id="inputLasttName">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputCountry" class="col-sm-5 col-form-label">País</label>
        <div class="col-sm-6">
            <input type="text" formControlName="country" class="form-control" id="inputCountry">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputMobile" class="col-sm-5 col-form-label">Telefono</label>
        <div class="col-sm-6">
            <input type="number" formControlName="mobile" class="form-control" max="9999999999" min="1000000000" id="inputMobile">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputCurrentCity" class="col-sm-5 col-form-label">Ciudad Actual</label>
        <div class="col-sm-6">
            <input type="text" formControlName="currentCity" class="form-control" id="inputCurrentCity">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-5 col-form-label">Correo</label>
        <div class="col-sm-6">
            <input type="email" formControlName="email" class="form-control" id="inputEmail">
        </div>
    </div>
    <div class="form-group row border-bottom pb-3">
        <label for="inputGender" class="col-sm-5 col-form-label">Genero</label>
        <div class="col-sm-6">
            <select class="form-control" id="inputGender" formControlName="gender">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
        </div>
    </div>
    <div class="buttons">
        <button type="submit" (click)="savePersonalDetailsData()" class="btn btn-success mt-3">Guardar</button>
        <a class="btn btn-danger mt-3" (click)="editMode=false">Cancelar</a>
    </div>
</form>