<footer>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      distinctio earum repellat quaerat voluptatibus placeat nam,
      commodi optio pariatur est quia magnam eum harum corrupti
      dicta, aliquam sequi voluptate quas ipsum dolor sit amet
      consectetur adipisicing elit. Dignissimos recusandae, quasi numquam
      tenetur commodi quo reprehenderit alias saepe dicta eum aliquid
      illum aperiam consectetur ad fugiat! Incidunt
    </p>
  </div>
  <div>
    <p>Club de Pesca - Todos los derechos reservados</p>
  </div>
</footer>